.newsletter {
  background-color: #f5f5f5;
  padding: 24px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.newsletter-description {
  font-size: 14px;
  line-height: 1.5;
  color: #333;
}

.newsletter-description p {
  margin: 0 0 12px;
}

.newsletter-description p:last-child {
  margin-bottom: 0;
}

.newsletter-description em {
  font-size: 12px;
  color: #666;
}

.newsletter-form {
  margin: 8px 0;
}

.newsletter-form-element {
    position: relative;
}

.newsletter-input {
  padding: 10px 12px;
  border: 1px solid #d0d0d0;
  border-right: none;
  border-radius: 100vw;
  font-size: 14px;
  font-family: inherit;
  background-color: #fff;
  width: 100%;
}

.newsletter-input:focus {
  outline: none;
  border-color: #999;
  box-shadow: none;
}

.newsletter-button {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  border-radius: 0 100vw 100vw 0;
  font-size: var(--body-font-size-s);
}

.newsletter-button:hover {
  background-color: #333;
}

.newsletter-button:active {
  background-color: #000;
}

.newsletter-footer {
  font-size: 12px;
  color: #666;
  line-height: 1.5;
}

.newsletter-description a,
.newsletter-footer a {
  color: #06c;
  text-decoration: none;
}

.newsletter-description a:hover,
.newsletter-footer a:hover {
  text-decoration: underline;
}
