<div>
  <div>
    <h3>Popular Recipes</h3>
    <ul>
      <li><a href="/recipes/chicken">Chicken Recipes</a></li>
      <li><a href="/recipes/pasta">Pasta Recipes</a></li>
      <li><a href="/recipes/desserts">Desserts</a></li>
      <li><a href="/recipes/salads">Salads</a></li>
    </ul>
  </div>
  <div>
    <h3>By Meal</h3>
    <ul>
      <li><a href="/recipes/breakfast">Breakfast</a></li>
      <li><a href="/recipes/lunch">Lunch</a></li>
      <li><a href="/recipes/dinner">Dinner</a></li>
      <li><a href="/recipes/appetizers">Appetizers</a></li>
    </ul>
  </div>
  <div>
    <h3>By Cuisine</h3>
    <ul>
      <li><a href="/recipes/italian">Italian</a></li>
      <li><a href="/recipes/mexican">Mexican</a></li>
      <li><a href="/recipes/asian">Asian</a></li>
      <li><a href="/recipes/american">American</a></li>
    </ul>
  </div>
</div>

