<div>
  <div>
    <h3>Featured Shows</h3>
    <ul>
      <li><a href="/shows/chopped">Chopped</a></li>
      <li><a href="/shows/iron-chef">Iron Chef</a></li>
      <li><a href="/shows/guys-grocery-games">Guy's Grocery Games</a></li>
      <li><a href="/shows/baking-championship">Baking Championship</a></li>
    </ul>
  </div>
  <div>
    <h3>Popular Hosts</h3>
    <ul>
      <li><a href="/shows/bobby-flay">Bobby Flay Shows</a></li>
      <li><a href="/shows/ree-drummond">The Pioneer Woman</a></li>
      <li><a href="/shows/guy-fieri">Guy Fieri Shows</a></li>
      <li><a href="/shows/ina-garten">Barefoot Contessa</a></li>
    </ul>
  </div>
</div>

