<div>
  <div class="ad banner">
    <div>
      <div></div>
    </div>
  </div>
  <div class="section-metadata">
    <div>
      <div>id</div>
      <div>ad</div>
    </div>
  </div>
</div>
<div>
  <ul>
    <li><a href="https://watch.foodnetwork.com/?utm_source=marketingsite&utm_medium=trendingline_watchfullseasons_text">Watch Full Seasons</a></li>
    <li><a href="https://www.foodnetwork.com/shows/tv-schedule">TV Schedule</a></li>
    <li><a href="https://www.foodnetwork.com/site/newsletter-sign-up">Newsletters</a></li>
    <li><a href="https://www.foodnetwork.com/videos">Videos</a></li>
    <li><a href="https://www.foodnetwork.com/kitchen/classes">Cooking Classes</a></li>
    <li><a href="https://shop.thefoodnetworkmag.com/fnm.html?source=fnm_nav">Subscribe to Food Network Magazine</a></li>
    <li><a href="https://www.foodnetwork.com/magazine">See Recipes From the Magazine</a></li>
    <li><a href="https://www.foodnetwork.com/shows/a-z">Shows A-Z</a></li>
    <li><a href="https://www.foodnetwork.com/profiles/talent">Chefs A-Z</a></li>
    <li><a href="https://www.max.com/channel/food-network">Food Network on HBO Max</a></li>
  </ul>
  <p><span class="icon icon-logo"></span></p>
  <div class="section-metadata">
    <div>
      <div>id</div>
      <div>brand</div>
    </div>
  </div>
</div>
<div>
  <ul>
    <li data-flyout="recipes">Recipes</li>
    <li data-flyout="shows">Shows</li>
    <li data-flyout="chefs">Chefs</li>
    <li>Food News</li>
    <li>Shop</li>
    <li>Sweepstakes</li>
    <li><a href="https://www.foodnetwork.com/shows/tv-schedule">What's on TV</a></li>
    <li>About</li>
  </ul>
  <div class="section-metadata">
    <div>
      <div>id</div>
      <div>sections</div>
    </div>
  </div>
</div>
<div>
  <ul>
    <li><a href="/search"><span class="icon icon-search"></span></a></li>
  </ul>
  <div class="section-metadata">
    <div>
      <div>id</div>
      <div>tools</div>
    </div>
  </div>
</div>

