@layer blocks {
  /* header and nav layout */
  .header {
    display: grid;
    grid-template-rows: var(--header-ad-height) var(--nav-height);
  }

  header nav p {
    margin: 0;
    line-height: 1;
  }

  header nav a:any-link {
    color: currentcolor;
    text-decoration: none;
  }

  /* header ad */
  header .nav-ad .ad {
    margin: 0 auto;
  }

  /* nav */
  header nav {
    display: grid;
    grid-template-columns: 32px 48px auto;
    align-items: center;
    gap: 16px;
    margin: auto;
    max-width: var(--max-content-width);
    height: var(--nav-height);
    padding: 0 16px;
  }

  /* nav brand */
  header nav .nav-brand-list {
    display: none;
  }

  header nav .nav-brand .icon {
    height: 44px;
    width: 44px;
  }

  /* nav sections */
  header nav .nav-sections {
    display: none;
  }

  /* nav tools */
  header nav .nav-tools {
    justify-self: end;
  }

  header nav .nav-tools ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 12px;
    align-items: center;
  }

  header nav .nav-tools a.button,
  header nav .nav-tools button {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
  }

  header nav .nav-tools .search-form {
    display: none;
  }

  header nav .nav-tools ul > li > ul {
    display: none;
  }

  /* hamburger */
  header nav .nav-hamburger {
    height: 22px;
    display: flex;
    align-items: center;
  }

  header nav .nav-hamburger button {
    height: 22px;
    margin: 0;
    border: 0;
    border-radius: 0;
    padding: 0;
    background-color: var(--background-color);
    color: inherit;
    overflow: initial;
    text-overflow: initial;
    white-space: initial;
  }

  header nav .nav-hamburger-icon,
  header nav .nav-hamburger-icon::before,
  header nav .nav-hamburger-icon::after {
    box-sizing: border-box;
    display: block;
    position: relative;
    width: 20px;
    height: 2px;
    border-radius: 2px;
    background: currentcolor;
  }

  header nav .nav-hamburger-icon::before,
  header nav .nav-hamburger-icon::after {
    content: '';
    position: absolute;
  }

  header nav .nav-hamburger-icon::before {
    top: -6px;
  }

  header nav .nav-hamburger-icon::after {
    top: 6px;
  }
}
