<!DOCTYPE html>
<html>
<head>
  <title>Navigation</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>
  <header></header>
  <main>
    <div>
      <div>
        <div>
          <p><a href="/" title="Food Network Home" aria-label="Food Network Home">
            <strong>Food Network</strong>
          </a></p>
        </div>
      </div>
      <div>
        <div>
          <ul>
            <li data-flyout="recipes"><a href="/recipes">Recipes</a></li>
            <li data-flyout="shows"><a href="/shows">Shows</a></li>
            <li data-flyout="chefs"><a href="/chefs">Chefs</a></li>
            <li><a href="/how-to">How To</a></li>
          </ul>
        </div>
      </div>
      <div>
        <div>
          <p><a href="/search" aria-label="Search"><span class="icon icon-search"></span></a></p>
        </div>
      </div>
    </div>
  </main>
  <footer></footer>
</body>
</html>

