.recipe-info {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 20px 16px;
  margin: 20px 16px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 16px;
}

@media (width >= 600px) {
  .recipe-info {
    grid-template-columns: repeat(3, 1fr);
  }
}

.recipe-info-item {
  display: flex;
  flex-direction: column;
  padding: 4px;
  border-right: 1px solid #ddd;
}

.recipe-info-item:last-child {
  border-right: none;
}

.recipe-info-item:nth-child(2n) {
  border-right: none;
}

@media (width >= 600px) {
    .recipe-info-item {
        flex-direction: row;
        align-items: center;
        gap: 2ch;
        padding: 0 8px;
    }

  .recipe-info-item:nth-child(3n) {
    border-right: none;
  }
  
  .recipe-info-item:nth-child(2n) {
    border-right: 1px solid #ddd;
  }

  .recipe-info-item:last-child {
    border-right: none;
  }
}



.recipe-info-label {
  color: #333;
  font-size: var(--body-font-size-xs);
}

.recipe-info-value {
  font-weight: 500;
}

.nutrition-link {
  color: #d73400;
  text-decoration: none;
  font-weight: 600;
}
